* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container_70 {
  margin: auto;
  width: 70%;
  font-size: 15px;
  border: 2px dotted red;
}

.container_60 {
  margin: auto;
  width: 60%;
  font-size: 15px;
  border: 2px solid lightgreen;
}

.padding {
  padding: 80px 0;
}

.p_opacity {
  margin: 30px 0;
  opacity: 0.6;
}

.mid_subtitle {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

button {
  padding: 12.5px 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 7.5px;
  transition: 0.5s;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #059c9c;
  transform: scale(1.05);
}

.button_green {
  background-color: #048383;
  border: 1px solid #048383;
}

.button_transparent {
  background-color: transparent;
  border: 1px solid #048383;
}

header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, #314c56 0%, #314c56 40%, transparent 40%, transparent 100%);
  z-index: 2;
}
header .top {
  color: rgba(255, 255, 255, 0.75);
  height: 40px;
  line-height: 40px;
}
header .top li a {
  color: white;
  opacity: 0.75;
}
header .top li i {
  margin-right: 7.5px;
}
header .top li:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
header .top li:hover a {
  opacity: 1;
}
header .bottom {
  font-size: 16px;
  font-weight: 500;
  color: white;
  z-index: 100;
  height: calc(60px);
  line-height: calc(60px);
}
header .bottom .right {
  text-transform: uppercase;
}
header .bottom .right li:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
header .bottom .right li:hover span {
  cursor: pointer;
}
header .bottom .right li:hover:last-child {
  transform: none;
}
header .left {
  float: left;
}
header .left span {
  font-size: 20px;
  font-weight: 700;
}
header .left span:nth-child(1) {
  color: #52babb;
}
header .left span:nth-child(2) {
  color: #e7eee9;
}
header .left p {
  display: inline-block;
}
header .left i {
  margin-right: 7.5px;
}
header .right {
  float: right;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
  margin-left: 30px;
}

main #jumbotron {
  height: 800px;
  background: url("../img/bg-2.jpg");
  background-position: center;
  background-size: cover;
}
main #jumbotron .container_70 {
  position: relative;
  height: 100%;
}
main #jumbotron .container_70 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 70%;
  color: white;
  text-align: center;
}
main #jumbotron .container_70 div h1 {
  font-size: 56px;
  font-weight: 700;
}
main #jumbotron .container_70 div p {
  margin: 25px 0;
}
main #jumbotron .container_70 div button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0 5px;
}
main #video .container_60 {
  height: 580px;
  text-align: center;
  overflow: hidden;
}
main #video .container_60 div:first-child {
  padding: 0 30px;
}
main #video .container_60 div:first-child p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #video .container_60 div:first-child h1 {
  display: inline-block;
  font-size: 38px;
}
main #video .container_60 div:first-child h1:nth-of-type(1) {
  color: black;
}
main #video .container_60 div:first-child h1:nth-of-type(2) {
  margin-left: 10px;
  padding: 5px 10px;
  color: #048383;
  background-color: #e7eee9;
  border-radius: 5px;
}
main #video .container_60 .div_img {
  width: 100%;
  position: relative;
  transition: 0.5s;
}
main #video .container_60 .div_img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 56px;
  opacity: 0.3;
  transition: 0.5s;
}
main #video .container_60 .div_img img {
  width: 100%;
}
main #video .container_60 .div_img:hover {
  cursor: pointer;
}
main #video .container_60 .div_img:hover i {
  font-size: 72px;
  opacity: 0.8;
}
main #numbers {
  background: url("../img/traffic.jpg");
  background-position: center;
  background-size: cover;
}
main #numbers .container_70 {
  height: 340px;
  text-align: center;
}
main #numbers .container_70 p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #numbers .container_70 h1 {
  color: white;
  font-size: 38px;
}
main #numbers .container_70 #numbers_div {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
main #numbers .container_70 #numbers_div div .green {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  color: #048383;
}
main #services {
  background-color: #111117;
}
main #services .container_70 {
  color: white;
  height: 700px;
}
main #services .container_70 p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #services .container_70 h1 {
  display: inline-block;
  font-size: 38px;
}
main #services .container_70 h1:nth-of-type(2) {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #1d2528;
  border-radius: 5px;
}
main #services .container_70 .p_opacity {
  display: inline-block;
  width: 80%;
}
main #services .container_70 button {
  margin-top: 30px;
  float: right;
}
main #services .container_70 #card_container .rule {
  display: flex;
  justify-content: space-between;
}
main #services .container_70 #card_container .rule:nth-of-type(2) {
  margin-top: 26px;
}
main #services .container_70 #card_container .card {
  padding: 35px;
  height: 230px;
  width: calc(95% / 3);
  background-color: #141a1c;
  border-radius: 12px;
  transition: 0.5s;
}
main #services .container_70 #card_container .card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
main #services .container_70 #card_container .card:hover .card_top i {
  color: white;
}
main #services .container_70 #card_container .card:hover .card_top i:nth-of-type(2) {
  padding: 6px 7px;
  background-color: #048383;
  border-radius: 50%;
  opacity: 1;
}
main #services .container_70 #card_container .card .card_top {
  height: 60px;
  width: 100%;
}
main #services .container_70 #card_container .card .card_top i {
  color: #048383;
}
main #services .container_70 #card_container .card .card_top i:nth-of-type(1) {
  float: left;
  font-size: 36px;
}
main #services .container_70 #card_container .card .card_top i:nth-of-type(2) {
  float: right;
  font-size: 24px;
  opacity: 0.5;
}
main #services .container_70 #card_container .card p {
  word-break: break-all;
  margin-top: 20px;
}
main #team .container_70 {
  height: 600px;
  display: flex;
  justify-content: space-between;
}
main #team .container_70 p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #team .container_70 .left {
  float: left;
  width: 55%;
  height: 100%;
}
main #team .container_70 .left h1 {
  display: inline-block;
  font-size: 38px;
}
main #team .container_70 .left h1:nth-of-type(1) {
  padding: 5px 10px;
  color: #048383;
  background-color: #e7eee9;
  border-radius: 5px;
}
main #team .container_70 .left h1:nth-of-type(2) {
  color: black;
}
main #team .container_70 .left #card_container_2 {
  width: 100%;
  height: 400px;
  border: 2px dotted red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main #team .container_70 .left #card_container_2 .rule {
  width: 100%;
  height: 47%;
  display: flex;
  justify-content: space-between;
}
main #team .container_70 .left #card_container_2 .rule .card {
  height: 100%;
  width: 47%;
  background-color: red;
}
main #team .container_70 .right {
  float: right;
  padding: 40px;
  width: 40%;
  height: 100%;
  background-color: #048383;
  border-radius: 10px;
}

footer .top {
  background: url("../img/bg-7.jpg");
  background-position: center;
  background-size: cover;
}
footer .top .container_70 {
  height: 310px;
  display: flex;
  justify-content: space-between;
}
footer .top .container_70 .column {
  padding: 30px;
  width: 23%;
  height: 100%;
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 12px;
}
footer .top .container_70 .column .p_opacity {
  margin: 15px 0;
  transition: 0.25s;
}
footer .top .container_70 .column .p_opacity i {
  margin-right: 10px;
}
footer .top .container_70 .column:first-child {
  padding: 0;
  color: white;
  background-color: transparent;
}
footer .top .container_70 .column:first-child ul {
  list-style: none;
}
footer .top .container_70 .column:first-child ul li {
  margin: 20px 0;
}
footer .top .container_70 .column:first-child ul li:first-child {
  margin-top: 40px;
}
footer .top .container_70 .column:first-child ul li:last-child {
  margin-bottom: 40px;
}
footer .top .container_70 .column:first-child ul li:hover {
  opacity: 1;
  transform: scale(1.05);
}
footer .top .container_70 .column .title {
  font-size: 28px;
  font-weight: 600;
}
footer .top .container_70 .column .title:first-child {
  padding: 5px 0 5px 30px;
  color: #52babb;
  background-color: rgba(4, 131, 131, 0.25);
  border-radius: 30px 0 0 30px;
}
footer .top .container_70 .column a {
  color: white;
  text-decoration: none;
}
footer .top .container_70 .column a .p_opacity:hover {
  opacity: 1;
  transform: scale(1.05);
}
footer .bottom {
  color: white;
  background-color: #141a1c;
}
footer .bottom .container_70 {
  height: calc(60px);
  line-height: calc(60px);
}
footer .bottom .container_70 .p_opacity {
  margin: 0;
  display: inline-block;
}
footer .bottom .container_70 span {
  color: #52babb;
}
footer .bottom .container_70 .left {
  float: left;
}
footer .bottom .container_70 .right {
  float: right;
}
