* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container_70 {
  margin: auto;
  width: 70%;
  font-size: 15px;
  border: 2px dotted red;
}

.container_60 {
  margin: auto;
  width: 60%;
  font-size: 15px;
  border: 2px solid lightgreen;
}

.padding {
  padding: 80px 0;
}

.p_opacity {
  opacity: 0.6;
}

.mid_subtitle {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

button {
  padding: 12.5px 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 7.5px;
  transition: 0.4s;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background-color: #52babb;
}

.button_green {
  background-color: #048383;
  border: 1px solid #048383;
}

.button_transparent {
  background-color: transparent;
  border: 1px solid #048383;
}

header {
  height: 40px;
  background-color: #314c56;
}
header .top {
  color: rgba(255, 255, 255, 0.75);
  height: 40px;
  line-height: 40px;
}
header .top span {
  margin-right: 7.5px;
}
header .bottom {
  font-size: 16px;
  font-weight: 500;
  color: white;
  height: calc(60px);
  line-height: calc(60px);
}
header .bottom .right {
  text-transform: uppercase;
}
header .left {
  float: left;
}
header .left span {
  font-size: 20px;
  font-weight: 700;
}
header .left span:nth-child(1) {
  color: #52babb;
}
header .left span:nth-child(2) {
  color: #e7eee9;
}
header .left p {
  display: inline-block;
}
header .left i {
  margin-right: 7.5px;
}
header .right {
  float: right;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
  margin-left: 30px;
}

main #jumbotron {
  height: 700px;
  background: url("../img/bg-2.jpg");
  background-position: center;
  background-size: cover;
}
main #jumbotron .container_70 {
  position: relative;
  height: 100%;
}
main #jumbotron .container_70 div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 350px;
  width: 70%;
  color: white;
  text-align: center;
}
main #jumbotron .container_70 div h1 {
  font-size: 56px;
  font-weight: 700;
}
main #jumbotron .container_70 div p {
  margin: 25px 0;
}
main #jumbotron .container_70 div button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 0 5px;
}
main #video .container_60 {
  height: 580px;
  text-align: center;
  overflow: hidden;
}
main #video .container_60 div {
  padding: 0 30px;
}
main #video .container_60 div p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #video .container_60 div h1 {
  display: inline-block;
  font-size: 38px;
}
main #video .container_60 div h1:nth-of-type(1) {
  color: black;
}
main #video .container_60 div h1:nth-of-type(2) {
  margin: 0 0 20px 10px;
  padding: 5px 10px;
  color: #048383;
  background-color: #e7eee9;
  border-radius: 5px;
}
main #video .container_60 div :nth-child(4) {
  margin-bottom: 30px;
}
main #video .container_60 img {
  width: 100%;
}
main #numbers {
  background: url("../img/bg-7.jpg");
  background-position: center;
  background-size: cover;
}
main #numbers .container_70 {
  height: 340px;
  text-align: center;
}
main #numbers .container_70 p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #numbers .container_70 h1 {
  color: white;
  font-size: 38px;
}
main #numbers .container_70 #numbers_div {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
main #numbers .container_70 #numbers_div div .green {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
  color: #048383;
}
main #services {
  background-color: #111117;
}
main #services .container_70 {
  color: white;
  height: 700px;
}
main #services .container_70 p:first-child {
  margin-bottom: 20px;
  color: #52babb;
  text-transform: uppercase;
  font-weight: 600;
}
main #services .container_70 h1 {
  display: inline-block;
  font-size: 38px;
}
main #services .container_70 h1:nth-of-type(2) {
  margin: 0 0 20px 10px;
  padding: 5px 10px;
  background-color: #1d2528;
  border-radius: 5px;
}
main #services .container_70 .p_opacity {
  display: inline-block;
  width: 80%;
}
main #services .container_70 button {
  float: right;
}
main #services .container_70 #card_container .rule {
  display: flex;
  justify-content: space-between;
}
main #services .container_70 #card_container .rule:first-child {
  margin-top: 40px;
}
main #services .container_70 #card_container .rule:nth-of-type(2) {
  margin-top: 26px;
}
main #services .container_70 #card_container .card {
  padding: 35px;
  height: 230px;
  width: calc(95% / 3);
  background-color: #141a1c;
  border-radius: 12px;
}
main #services .container_70 #card_container .card .card_top {
  height: 60px;
  width: 100%;
}
main #services .container_70 #card_container .card .card_top i {
  color: #048383;
}
main #services .container_70 #card_container .card .card_top i:nth-of-type(1) {
  float: left;
  font-size: 36px;
}
main #services .container_70 #card_container .card .card_top i:nth-of-type(2) {
  float: right;
  font-size: 24px;
  opacity: 0.5;
}
main #services .container_70 #card_container .card p {
  margin-top: 20px;
}
main #team .container_70 {
  height: 200px;
}
