@import "partials/_variables.scss";
@import "partials/_mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.container_70 {
  margin: auto;
  width: 70%;
  font-size: 15px;
  border: $debugBorder;
  // al momento questo bordo di debug crea piccole imperfezioni di layout
}
.container_60 {
  margin: auto;
  width: 60%;
  font-size: 15px;
  border: $debugBorder60;
}
.padding {
  padding: 80px 0;
}

// TESTI
.p_opacity {
  opacity: 0.6;
}
.mid_subtitle {
  color: white;
  font-size: 28px;
  font-weight: 600;
}

// BUTTONS
button {
  padding: 12.5px 20px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 7.5px;
  transition: 0.4s;
  &:focus {
    outline: none;
  }
  // continuo a non capire perchè l'hover sul button dell'header non funziona
  &:hover {
    cursor: pointer;
    background-color: $lightGreen;
  }
}
.button_green {
  background-color: $mediumGreen;
  border: 1px solid $mediumGreen;
}
.button_transparent {
  background-color: transparent;
  border: 1px solid $mediumGreen;
}
