@import "partials/_mixins.scss";

footer {
  .top {
    background: url("../img/bg-7.jpg");
    background-position: center;
    background-size: cover;
    .container_70 {
      height: 350px;
      display: flex;
      justify-content: space-between;
      .column {
        padding: 30px;
        width: 23%;
        height: 100%;
        background-color: rgba(150,150,150,0.1);
        border-radius: 12px;
        // colonna statica
        &:first-child {
          color: white;
        }
        a {
          color: white;
          text-decoration: none;
          .p_opacity {
            margin: 20px 0;
            transition: 0.25s;
            i {
              margin-right: 10px;
            }
            &:hover {
              opacity: 1;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
  .bottom {
    color: white;
    background-color: $darkenDarkGrey;
    .container_70 {
      height: calc(#{($headerHeight / 2) * 3});
      line-height: calc(#{($headerHeight / 2) * 3});
      .p_opacity {
        margin: 0;
        display: inline-block;
      }
      span {
        color: $lightGreen;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}
