@import "partials/_mixins.scss";

footer {
  .top {
    background: url("../img/bg-7.jpg");
    background-position: center;
    background-size: cover;
    .container_70 {
      height: 400px;
      display: flex;
      justify-content: space-between;
      .column {
        color: white;
        width: 24%;
        height: 100%;
        border: $debugBorder60;
      }
    }
  }
  .bottom {
    color: white;
    background-color: $darkenDarkGrey;
    .container_70 {
      height: calc(#{($headerHeight / 2) * 3});
      line-height: calc(#{($headerHeight / 2) * 3});
      .p_opacity {
        margin: 0;
        display: inline-block;
      }
      span {
        color: $lightGreen;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
  }
}
