@import "partials/_mixins.scss";

header {
  height: $headerHeight;
  background-color: $headerBackground;
  .top {
    color: rgba(255,255,255,0.75);
    height: $headerHeight;
    line-height: $headerHeight;
    a {
      color: rgba(255,255,255,0.75);
    }
    i {
      margin-right: 7.5px;
    }
  }
  .bottom {
    @include button-font;
    z-index: 2;
    height: calc(#{($headerHeight / 2) * 3});
    line-height: calc(#{($headerHeight / 2) * 3});
    // al momento il bordo del container crea piccole imperfezioni di layout
      .right {
        text-transform: uppercase;
        .li:hover {
          color: red;
        }
      }
  }
  .left {
    float: left;
    span {
      font-size: 20px;
      font-weight: 700;
      &:nth-child(1) {
        color: $lightGreen;
      }
      &:nth-child(2) {
        color: $lightGrey;
      }
    }
    p {
      display: inline-block;
    }
    i {
      margin-right: 7.5px;
    }
  }
  .right {
    float: right;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 30px;
    }
  }
}
