@import "partials/_mixins.scss";

header {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  background-image: linear-gradient(to bottom, $headerBackground 0%, $headerBackground 40%, transparent 40%, transparent 100%);
  z-index: 2;
  .top {
    color: rgba(255,255,255,0.75);
    height: $headerBaseHeight;
    line-height: $headerBaseHeight;
    li {
      a {
        color: white;
        opacity: 0.75;
      }
      i {
        margin-right: 7.5px;
      }
      &:hover {
        transform: scale(1.05);
        transition: $fastTransition;
        a {
          opacity: 1;
        }
      }
    }
  }
  .bottom {
    @include button-font;
    z-index: 100;
    height: calc(#{($headerBaseHeight / 2) * 3});
    line-height: calc(#{($headerBaseHeight / 2) * 3});
    .right {
      text-transform: uppercase;
      li:hover {
        transform: scale(1.1);
        transition: $fastTransition;
        span{
          cursor: pointer;
        }
        &:last-child {
          transform: none;
        }
      }
    }
  }
  .left {
    float: left;
    span {
      font-size: 20px;
      font-weight: 700;
      &:nth-child(1) {
        color: $lightGreen;
      }
      &:nth-child(2) {
        color: $lightGrey;
      }
    }
    p {
      display: inline-block;
    }
    i {
      margin-right: 7.5px;
    }
  }
  .right {
    float: right;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 30px;
    }
  }
}
