@import "partials/_mixins.scss";
@import "partials/_common.scss";

header {
  height: $headerHeight;
  background-color: $headerBackground;
  .top {
    color: rgba(255,255,255,0.75);
    height: $headerHeight;
    line-height: $headerHeight;
    a {
      color: rgba(255,255,255,0.75);
    }
    span {
      margin-right: 7.5px;
    }
  }
  .bottom {
    @include button-font;
    height: calc(#{($headerHeight / 2) * 3});
    line-height: calc(#{($headerHeight / 2) * 3});
    // al momento il bordo del container crea piccole imperfezioni di layout
      .right {
        text-transform: uppercase;
        // perchè gli hover sull'header bottom non funzionano?
        // span {
        //   &:hover {
        //     cursor: pointer;
        //     transform: scale(1.1);
        //   }
        // }
      }
      // continuo a non capire perchè l'hover sul button dell'header non funziona
      // button:hover {
      //   cursor: pointer;
      //   background-color: $lightGreen;
      // }
  }
  .left {
    float: left;
    span {
      font-size: 20px;
      font-weight: 700;
      &:nth-child(1) {
        color: $lightGreen;
      }
      &:nth-child(2) {
        color: $lightGrey;
      }
    }
    p {
      display: inline-block;
    }
    i {
      margin-right: 7.5px;
    }
  }
  .right {
    float: right;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 30px;
    }
  }
}
