@import "partials/_mixins.scss";

main {

  // JUMBOTRON
  #jumbotron {
    position: relative;
    height: 800px;
    background: url("../img/bg-2.jpg");
    background-position: center;
    background-size: cover;
    &::before {
      @include layover;
    }
    .container_70 {
      position: relative;
      height: 100%;
      div {
        // posizionamento e dimensioni
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 70%;
        // estetica
        color: white;
        text-align: center;
        h1 {
          font-size: 56px;
          font-weight: 700;
        }
        p {
          margin: 25px 0;
        }
        button {
          @include button-font;
          margin: 0 5px;
        }
      }
    }
  }
  // FINE JUMBOTRON

  // SEZIONE VIDEO
  #video {
    .container_60 {
      height: 580px;
      text-align: center;
      overflow: hidden;
      div:first-child {
        padding: 0 30px;
        @include green-subtitle;
        h1 {
          @include section-title;
        }
      }
      .div_img {
        width: 100%;
        position: relative;
        transition: 0.5s;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 56px;
          opacity: 0.3;
          transition: 0.5s;
        }
        img {
          width: 100%;
        }
        &:hover {
          cursor: pointer;
          i {
            font-size: 72px;
            opacity: 0.8;
          }
        }
      }
    }
  }
  // FINE VIDEO

  // NUMBERS
  #numbers {
    background: url("../img/traffic.jpg");
    background-position: center;
    background-size: cover;
    .container_70 {
      height: 340px;
      text-align: center;
      @include green-subtitle;
      h1 {
        color: white;
        font-size: 38px;
      }
      #numbers_div {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        div {
          .green {
            margin-bottom: 10px;
            font-size: 36px;
            font-weight: 700;
            color: $mediumGreen;
          }
        }
      }
    }
  }
  // FINE NUMBERS

  // SERVICES
  #services {
    background-color: $almostBlack;
    .container_70 {
      color: white;
      height: 700px;
      @include green-subtitle;
      h1 {
        display: inline-block;
        font-size: 38px;
        &:nth-of-type(2) {
          margin-left: 10px;
          padding: 5px 10px;
          background-color: $darkGrey;
          border-radius: 5px;
        }
      }
      .p_opacity {
        display: inline-block;
        width: 80%;
      }
      button {
        margin-top: 30px;
        float: right;
      }
      #card_container {
        .rule {
          display: flex;
          justify-content: space-between;
          &:nth-of-type(2) {
            margin-top: 26px;
          }
        }
        .card {
          padding: 35px;
          height: 230px;
          width: calc(95% / 3);
          background-color: $darkenDarkGrey;
          border-radius: 12px;
          transition: 0.5s;
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            .card_top i {
              color: white;
              &:nth-of-type(2) {
                padding: 6px 7px;
                background-color: $mediumGreen;
                border-radius: 50%;
                opacity: 1;
              }
            }
          }
          .card_top {
            height: 60px;
            width: 100%;
            i {
              color: $mediumGreen;
              &:nth-of-type(1) {
                float: left;
                font-size: 36px;
              }
              &:nth-of-type(2) {
                float: right;
                font-size: 24px;
                opacity: 0.5;
              }
            }
          }
          p {
            word-break: break-all;
            margin-top: 20px;
          }
        }
      }
    }
  }
  // FINE SERVICES

  // TEAM
  #team {
    .container_70 {
      position: relative;
      height: 550px;
      display: flex;
      justify-content: space-between;
      @include green-subtitle;
      .left {
        float: left;
        width: 67%;
        height: 100%;
        h1 {
          @include section-title-reverse
        }
        #card_container_2 {
          width: 100%;
          height: 360px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .rule {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            .card {
              height: 100%;
              width: 50%;
              padding: 20px 20px 20px 0;
              display: flex;
              align-items: center;
              img {
                width: 32.5%;
                border-radius: 10px;
              }
              section {
                margin-left: 25px;
                h4 {
                  margin: 15px 0;
                  text-transform: uppercase;
                  font-weight: 400;
                }
                @include circle;
              }
            }
          }
        }
      }
      .right {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 90%;
        width: 32%;
        padding: 40px;
        background-color: $mediumGreen;
        border-radius: 10px;
        .mid_subtitle {
          font-size: 24px;
        }
        p {
          margin: 20px 0;
          font-size: 16px;
          color: white;
          opacity: 0.6;
        }
        h3 {
          color: white;
          opacity: 0.8;
        }
        img {
          position: absolute;
          bottom: 45px;
          right: 30px;
          width: 35px;
          transform: rotate(180deg);
          opacity: 0.4;
        }
      }
    }
  }
  // FINE TEAM

  // NEWS
  #news {
    background-color: $panna;
    .container_70 {
      @include green-subtitle;
      h1 {
        @include section-title;
      }
      .p_opacity {
        display: inline-block;
        width: 80%;
      }
      button {
        float: right;
      }
      #card_container_3 {
        display: flex;
        justify-content: space-between;
        .card {
          position: relative;
          height: 330px; width: 330px;
          text-align: center;
          border-radius: 15px;
          overflow: hidden;
          &::before {
            @include layover;
          }
          img {
            height: 330px; width: 330px;
          }
          h2 {
            padding: 0 20px;
            position: absolute;
            bottom: 40px;
            font-size: 24px;
          }
        }
      }
    }
  }
  // FINE NEWS

  // NEWSLETTER
  #newsletter {
    color: white;
    background-color: $almostBlack;
    .container_60 {
      display: flex;
      justify-content: space-between;
      div {
        @include green-subtitle;
        width: 48%;
        h1 {
          display: inline-block;
          font-size: 38px;
          &:nth-of-type(1) {
            padding: 5px 10px;
            border-radius: 5px;
            background-color: $darkGrey;
          }
          &:nth-of-type(2) {
            margin-left: 10px;
          }
        }
        input {
          width: 100%;
          background-color: $darkGrey;
          color: white;
          &:nth-of-type(2) {
            margin: 15px 0;
          }
        }
        .p_opacity {
          margin-bottom: 0;
        }
      }
    }
  }
  // FINE NEWSLETTER

  // GET IN TOUCH
  #get_in_touch {
    background-color: lighten($panna, 10%);
    .container_70 {
      display: flex;
      justify-content: space-between;
      .left {
        width: 62.5%;
        @include green-subtitle;
        h1 {
          @include section-title;
        }
        #input_container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          input {
            width: 49%;
            background-color: $lightGrey;
            &:nth-of-type(3), &:nth-of-type(4) {
              margin: 15px 0;
            }
          }
          textarea {
            margin-bottom: 30px;
            width: 100%;
            height: 150px;
            background-color: $lightGrey;
          }
        }
      }
      .right {
        width: 32.5%;
        border: $debugBorder60;
        .p_opacity {
          margin: 20px 0;
        }
        @include circle;
        button {
          color: $mediumGreen;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  // FINE GET IN TOUCH
}
