main {
  // JUMBOTRON
  .jumbotron {
    height: 800px;
    background: url("../img/bg-2.jpg");
    background-position: center;
    background-size: cover;
    .container {
      height: 100%;
    }
  }
}
