@import "partials/_mixins.scss";

main {

  // JUMBOTRON
  #jumbotron {
    height: 700px;
    background: url("../img/bg-2.jpg");
    background-position: center;
    background-size: cover;
    .container_70 {
      position: relative;
      height: 100%;
      div {
        // posizionamento e dimensioni
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 70%;
        // estetica
        color: white;
        text-align: center;
        h1 {
          font-size: 56px;
          font-weight: 700;
        }
        p {
          margin: 25px 0;
        }
        button {
          @include button-font;
          margin: 0 5px;
        }
      }
    }
  }
  // FINE JUMBOTRON

  // SEZIONE VIDEO
  #video {
    .container_60 {
      height: 580px;
      text-align: center;
      overflow: hidden;
      div {
        padding: 0 30px;
        @include green-subtitle;
        h1 {
          @include section-title;
        }
        :nth-child(4) {
          margin-bottom: 30px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
  // FINE VIDEO

  // NUMBERS
  #numbers {
    background: url("../img/bg-7.jpg");
    // quest'immagine di background è momentanea. Quella presente nello screen non c'è nella cartella
    background-position: center;
    background-size: cover;
    .container_70 {
      height: 340px;
      text-align: center;
      @include green-subtitle;
      h1 {
        color: white;
        font-size: 38px;
      }
      #numbers_div {
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        div {
          .green {
            margin-bottom: 10px;
            font-size: 36px;
            font-weight: 700;
          }
        }
      }
    }
  }
  // FINE NUMBERS

  // SERVICES
  #services {
    background-color: $almostBlack;
    .container_70 {
      color: white;
      height: 700px;
      @include green-subtitle;
      h1 {
        display: inline-block;
        font-size: 38px;
        &:nth-of-type(2) {
          margin: 0 0 20px 10px;
          padding: 5px 10px;
          background-color: $darkGrey;
          border-radius: 5px;
        }
      }
      p {
        display: inline-block;
        width: 80%;
      }
      button {
        float: right;
      }
      #card_container {
        .rule {
          display: flex;
          justify-content: space-between;
          &:first-child {
            margin-top: 40px;
          }
          &:nth-of-type(2) {
            margin-top: 26px;
          }
        }
        .card {
          padding: 40px;
          height: 230px;
          width: calc(95% / 3);
          background-color: $darkGrey;
          border-radius: 12px;
          div {
            width: 100%;
            i {
              color: $mediumGreen;
              &:nth-of-type(1) {
                float: left;
                font-size: 36px;
              }
              &:nth-of-type(2) {
                float: right;
                font-size: 24px;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  // FINE SERVICES

}
