@import "partials/_mixins.scss";

main {

  // JUMBOTRON
  .jumbotron {
    height: 700px;
    background: url("../img/bg-2.jpg");
    background-position: center;
    background-size: cover;
    border: $debugBorder;
    .container_70 {
      position: relative;
      height: 100%;
      div {
        // posizionamento e dimensioni
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 350px;
        width: 70%;
        // estetica
        color: white;
        text-align: center;
        h1 {
          font-size: 56px;
          font-weight: 700;
        }
        p {
          margin: 25px 0;
        }
        button {
          @include button-font;
          margin: 0 5px;
        }
      }
    }
  }
  // FINE JUMBOTRON

  // SEZIONE VIDEO
  .video {
    .container_60 {
      height: 400px;
    }
  }

}
