@mixin button-font {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
@mixin green-subtitle {
  *:first-child {
    margin-bottom: 20px;
    color: $lightGreen;
    text-transform: uppercase;
    font-weight: 600;
  }
}
@mixin section-title {
  &:nth-of-type(1) {
    color: black;
  }
  &:nth-of-type(2) {
    padding: 5px 10px;
    color: $mediumGreen;
    background-color: $lightGrey;
    border-radius: 5px;
  }
}
@mixin section-title-reverse {
  &:nth-of-type(1) {
    padding: 5px 10px;
    color: $mediumGreen;
    background-color: $lightGrey;
    border-radius: 5px;
  }
  &:nth-of-type(2) {
    color: black;
  }
}
