@mixin button-font {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
@mixin green-subtitle {
  p:first-child {
    margin-bottom: 20px;
    color: $lightGreen;
    text-transform: uppercase;
    font-weight: 600;
  }
}
@mixin section-title {
  display: inline-block;
  font-size: 38px;
  &:nth-of-type(1) {
    color: black;
  }
  &:nth-of-type(2) {
    margin-left: 10px;
    padding: 5px 10px;
    color: $mediumGreen;
    background-color: $lightGrey;
    border-radius: 5px;
  }
}
@mixin section-title-reverse {
  display: inline-block;
  font-size: 38px;
  &:nth-of-type(1) {
    padding: 5px 10px;
    color: $mediumGreen;
    background-color: $lightGrey;
    border-radius: 5px;
  }
  &:nth-of-type(2) {
    color: black;
  }
}
@mixin layover {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.4);
}
 @mixin circle {
   .circle {
     display: inline-block;
     position: relative;
     height: 40px; width: 40px;
     border-radius: 50%;
     background-color: $lightGrey;
     transition: $fastTransition;
     i {
       position: absolute;
       top: 50%; left: 50%;
       transform: translate(-50%, -50%);
       font-size: 20px;
       color: $mediumGreen;
     }
     &:hover {
       transform: scale(1.1);
     }
   }
 }
