@mixin button-font {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
@mixin green-subtitle {
  margin-bottom: 20px;
  color: $lightGreen;
  text-transform: uppercase;
  font-weight: 600;
}
