// COLORI
$headerBackground: darken(#568597, 20%);
$lightGreen: #52babb;
$mediumGreen: #048383;
$lightGrey: #e7eee9;
$darkGrey: #1d2528;
$darkenDarkGrey: darken($darkGrey, 4%);
$almostBlack: #111117;
$panna: #EEF4ED;

// HEADER
$headerBaseHeight: 40px;

// TRANSIZIONI
$slowTransition: 0.6s;
$fastTransition: 0.2s;
