$debugBorder: 2px dotted red;
$debugBorder60: 2px solid lightgreen;

// COLORI
$headerBackground: darken(#568597, 20%);
$lightGreen: #52babb;
$mediumGreen: #048383;
$lightGrey: #e7eee9;
$darkGrey: #1d2528;
$darkenDarkGrey: darken($darkGrey, 4%);
$almostBlack: #111117;

// HEADER
$headerHeight: 40px;

// MAIN


// FOOTER
