$debugBorder: 2px dotted red;
$debugBorder60: 2px solid lightgreen;

// COLORI
$headerBackground: darken(#568597, 20%);
$lightGreen: #52babb;
$lightGrey: #e7eee9;
$mediumGreen: #048383;

// HEADER
$headerHeight: 40px;

// MAIN


// FOOTER
